* {
    margin: 0;
    padding: 0;
}

body {
    height: 5000px;
}

.btn1 {
    width: 50px;
    height: 50px;
    background: rgb(186, 49, 49);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 110px;
    right: 20px;
    z-index: 3;
}

.btn1 > a {
    color: #fff;
    font-size: 25px;
}

.btn2 {
    width: 50px;
    height: 50px;
    background: rgb(186, 49, 49);
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 3;
}

.btn2>a {
    color: #fff;
    font-size: 15px;
}

header {
    background: url(../이미지/상단이미지.png);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_content {
    position: fixed;
    width: 100%;
    z-index: 3;
    opacity: 1;
    transition: 0.3s;
}

.header_content_active {
    opacity: 0;
    overflow: hidden;
}

.content {
    
    bottom: 50px;
}

.header_top {
    background: rgb(186, 49, 49);
    color: #fff;
    font-size: 12px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: sticky;
    top: 0px;
}

.header_left > nav > ul,
.header_right {
    display: flex;
    padding: 10px 40px;

}

.header_left > nav > ul > li > a {
    color: rgb(186, 49, 49);
    font-weight: 700;
    margin: 0 15px;
}

.header_center > h1 > img {
    height: 40px;
    margin: 20px 0;
    transform: translateX(-130px);
}

.header_right {
    color: rgb(186, 49, 49);
}

.header_right > figure > i {
    margin: 0 15px;
    font-size: 25px;
}

.header_right > div {
    background: rgb(186, 49, 49);
    color: #fff;
    transform: translateX(-15px);
    border-radius: 50px;
    font-size: 12px;
    width: 14px;
    height: 14px;
    text-align: center;
}


.main_text {
    color: #fff;
    margin: 20px 50px;
    transform: translateY(250px);

}

.main_text > p {
    margin: 45px 0;
}

.subject {
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.content_left > figure > img,
.content_center > figure > img,
.content_right > figure > img {
    width: 100%;
    height: 600px;
    margin-top: 100px;
}

.content_left > figure,
.content_center > figure,
.content_right > figure {
    width: 100%;
}

.text {
    color: rgb(186, 49, 49);
    margin-top: 10px;
}

.price {
    display: flex;
    gap: 10px;
    font-weight: 600;
    margin-top: 8px;
}

.text > h3 {
    font-weight: 600;
}

.text > p {
    border: 1px solid rgb(186, 49, 49);
    border-radius: 25px;
    width: 47px;
    font-size: 13px;
    margin-top: 10px;
    padding: 5px 15px;
}

.repeat {
    overflow: hidden;
}

.ani_text {
    width: max-content;
    animation: roll_text 60s infinite linear;
    margin-top: 50px;
}

.ani_text > p {
    font-size: 150px;
    color: rgb(186, 49, 49);
    overflow: hidden;
}

@keyframes roll_text {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}


.skill_box {
    margin: 80px;
}

.skill_list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.skill_text {
    width: 55%;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.skill_text h2 {
    font-size: 48px;
    font-weight: 600;
    color: rgb(186, 49, 49);
    margin-bottom: 32px;
}

.skill_text p {
    font-size: 18px;
    color: rgb(186, 49, 49);
    line-height: 24px;
    word-break: keep-all;
}

.btn {
    color: rgb(186, 49, 49);
    text-decoration: none;
    font-size: 20px;
    border: 1px solid rgb(186, 49, 49);
    width: fit-content;
    padding: 16px 32px;
    border-radius: 32px;
    transition: 0.5s;
}

.skill_top {
    margin-bottom: 32px;
}

.btn:hover {
    color: #fff;
    background: rgb(186, 49, 49);
} 

.turn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
}

.turn_text {
    font-size: 120px;
    color: rgb(186, 49, 49);
    line-height: 170px;
}

.turn_text > p > span {
    border: 3px solid rgb(186, 49, 49);
    padding: 0 60px 16px;
    border-radius: 100px;
} 

.turn_icon {
    animation: img_rotate 10s infinite linear;
    margin-top: 60px;
}

@keyframes img_rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.brand {
    background: url(../이미지/3.png);
    height: 80vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 48px;
}


.brand_text > h3 {
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}


.brand_text > p {
    text-align: center;
    font-size: 20px;
    line-height: 32px;
}

.btn.white {
    color: #fff;
    border: 1px solid #fff;
    background: none;
}

.btn.white:hover {
    color: rgb(186, 49, 49);
    background: #fff;
}


footer {
    background: rgb(186, 49, 49);
    padding: 80px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    margin-top: 60PX;
    font-size: 20PX;
    color: #fff;
}

.footer_content h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 32px;
}

.info > p {
    margin: 10px 0;
}

.info > p:last-child {
    margin-top: 40px;
} 

.guide > ul > li {
    border-bottom: 1px solid #fff;
    width: 300px;
    padding: 16px 0;
}

.contact_1 {
    margin-bottom: 24px;
}

.contact > div > p {
    margin-bottom: 8px;
}

.contact_1 > p:first-child {
    font-size: 23px;
    font-weight: 600;
}